<div
    [ngClass]="{
        'bg-warning': post.type == 'news',
        'bg-info': post.type == 'education',
        'bg-dark': post.type == 'politic',
        'text-white': post.type == 'politic'
    }"
    class="card mb-4"
>
    <div class="card-header">
        <h5 class="yellow-bg">Post</h5>
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">
            {{ post.body }}
        </p>
        <ng-content></ng-content>
    </div>
</div>
