<div class="container mt-3">
    <div *ngFor="let post of posts; let i = index">
        <app-post-card *ngIf="post.active" [post]="post">
            <button
                (click)="onInactivePost(post.id, i)"
                class="btn btn-primary"
            >
                Disattiva
            </button>
            <a
                type="button"
                class="btn btn-primary ms-3"
                [routerLink]="['/dettagli']"
                routerLinkActive="active"
            >
                Dettagli
            </a>
        </app-post-card>
    </div>
</div>
